@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	font-family: "Poppins", sans-serif;
}

.app-container {
	@apply bg-[#232323] min-h-screen py-4;
}

.app-container_title {
	@apply text-4xl text-center mb-10 mt-1 text-white font-medium;
}

.app-container_btn {
	@apply bg-[#005CC8] duration-300 hover:bg-[#0f66ca] rounded-md p-2 font-semibold text-white flex justify-center items-center sm:w-[600px] w-full md:w-[800px] lg:w-[1000px] xl:w-[1200px] mx-auto;
}

.todo-item_container_parent {
	@apply flex flex-wrap gap-y-3 mb-5 mx-3;
}

/* *** Todo Form */
.todo-form_form {
	@apply flex justify-center mx-3 mb-5;
}

.todo-form_input {
	@apply w-full sm:w-[600px] md:w-[800px] lg:w-[1130px] px-3 outline-none bg-white py-3 rounded-tl-lg rounded-bl-lg;
}

.todo-form_btn {
	@apply rounded-br-lg rounded-tr-lg px-3 py-2 bg-[#005CC8] hover:bg-[#0f66ca] shrink-0 uppercase font-semibold text-white;
}

/* *** Todo Item */
.todo-item_container {
	@apply flex items-center sm:w-[600px] md:w-[800px] lg:w-[1000px] xl:w-[1200px] mx-auto bg-white  border border-black/10 rounded-lg px-3 py-2 gap-x-3;
}

.todo-item_btn {
	@apply inline-flex w-7 h-7 rounded-lg text-lg border-black/10 justify-center items-center bg-[#005CC8] hover:bg-[#0f66ca] text-black font-semibold shrink-0 hover:scale-95 duration-300;
}
